<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/common.css') }}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    </head>
    <body>
        {{ render(controller(
        'AppBundle\\Controller\\DefaultController::idbarAction',
        { 'request': app.request }
        )) }}

        <div class="container-fluid mt-5">
            {% block body %}{% endblock %}
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3Rgk38SAUDb6cuh3AaYwMUx2rkrqoBF8&libraries=places" async defer ></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
