{% extends "admin/base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="h1">Création terminé</div>
    <p>L'utiliser a bien été créé</p>
{% endblock fos_user_content %}
